@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
    .container {
        margin: auto;
        max-width: 600px;
    }
}
@media (min-width: 768px) {
    .container {
        margin: auto;
        max-width: 750px;
    }
}
@media (min-width: 1024px) {
    .container {
        margin: auto;
        max-width: 960px;
    }
}
@media (min-width: 1280px) {
    .container {
        margin: auto;
        max-width: 1080px;
    }
}
@media (min-width: 1536px) {
    .container {
        margin: auto;
        max-width: 1280px;
    }
}





@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";




@import '../styles/custom.scss'